
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>ShowNet</title>
    <link href="~/html/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="~/html/css/style.css" type="text/css" rel="stylesheet">
    <link href="~/html/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800" rel="stylesheet" type="text/css">

    <!-- jQuery library script -->
    <script src="~/html/js/jquery-1.11.3.min.js" type="text/javascript"></script>

    <!-- bootstrap script -->
    <script src="~/html/js/bootstrap.js" type="text/javascript"></script>
</head>
<body class="login">
    <!-- contentPart -->
    <section id="contentPart">
        <div id="loginPanel">
            <div class="loginLogo"><img src="~/html/images/login-logo.png" alt="" style="max-width:100%;"></div>
            <div class="loginForm">
                <form>
                    <h2>LOGIN</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="button" value="submit">
                    <p>
                        No account? No worries! <a href="javascript:void(0);">Sign up now!</a><br>
                        <a href="javascript:void(0);">Forgot password?</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
    <!-- /contentPart -->
</body>
</html>
