<div role="tabpanel" class="tab-pane" id="myVideos">
    <h3>Link your ShowNet video libraries together. 2 additional accounts per login.</h3>
    <p>
        You are currently linked to the following accounts:<br>
        Not currently linked to any accounts
    </p>
    <div class="clr"></div>
    <div class="purchaseCreditForm">
        <label for="addUser">Add user</label>
        <span><input type="text" class="form-control" id="addUser"></span>
        <div class="clr"></div>
        <label for="usingPassword">Using Password</label>
        <span><input type="text" class="form-control" id="usingPassword"></span>
        <div class="clr"></div>
        <label></label>
        <span>
            <button class="loginbtn"><i class="fa fa-link"></i> Add New Library Link</button>
        </span>
    </div>
    <div class="clr"></div>
    <hr>
    <h3>Your video purchases on ShowNet.</h3>
</div>
