<div role="tabpanel" class="tab-pane" id="SetMyTrackedEntriesAlerts">
    <h3>You are currently registered for the following alerts.</h3>
    <p>Tracked by Back Number. Data is uploaded 1 day before the first day of a Show. Alerts only work for each show as Back Number change for each show.</p>
    <p><strong>Enter Comma Seperated Back Numbers To Track:</strong> <input type="text" class="form-control" style="width:auto; padding-top:2px; padding-bottom:2px; display:inline-block; margin:0 5px;"><small>e.g. 101,253</small></p>
    <p><strong>Alerts are currently sent to following:</strong> <input type="text" class="form-control" style="width:auto; padding-top:2px; padding-bottom:2px; display:inline-block; margin:0 5px;"><a href="#">Change Email</a></p>
    <p>I wish to purchase the current show for my mobile device: <a href="#">Purchase Current Show</a></p>
    <p>I wish to receive alerts by the following methods:</p>
    <p><input type="checkbox" disabled> Android - Received through ShowNet Mobile on Android</p>
    <p><input type="checkbox" disabled> iPhone - Received through ShowNet Mobile on iPhone/iPad</p>
    <p><input type="checkbox"> Email - Direct to your Inbox</p>
    <p><input type="checkbox" disabled> FaceBook - Posted on your wall</p>
    <p><input type="checkbox" disabled> Twitter - Posted to your Twitter feed</p>
    <p><em>NOTE: Your device details will automatically be picked up once you sign in with our mobile application.</em></p>
    <p>Your have requested the following alerts:</p>
    <p><input type="checkbox" checked> Pre Start</p>
    <p><input type="checkbox" checked> Final Results</p>
    <p><input type="checkbox" checked> Video Now Available</p>
    <p><input type="checkbox" checked> Horse Show Messages</p>
    <p><input type="checkbox" checked> General Message</p>
    <button class="loginbtn"><i class="fa fa-bell-o"></i> Apply Alert Preferences</button>
</div>
