
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contentPart">
    <div id="threeBoxes" class="newBackground">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-12 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <h2 class="red-bg" style="color:#000;">Video Search</h2>
                    <div class="videoSearchFieldContainer">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter a few letters, or the full name of your horse">
                            <input type="button" class="goBtn" value="go">
                            <div class="clr"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="showinformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="showDetailsContainer">
                    <div class="row">
                        <div class="col-lg-9 col-sm-8 col-xs-12">
                            <h1>Products & Pricing</h1>
                            <hr />
                        </div>
                    </div>
                   <p>
                       The ShowNet Pricing Plans are designed to keep our prices at our deeply discounted levels in comparison to industry competitors. We have added new functions and services to our video products, as well as our mobile service available on your iPhone and Android apps.
                   </p>
                    <p>
                        Our new services include
                    </p>
                    <ul>
                        <li>Send your video clips to the new ShowNet Video YouTube channel automatically.</li>
                        <li>Send videos via facebook and twitter to your friends and family.</li>
                        <li>View live data and video from your ShowNet mobile apps, available through iPhone and Android.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>