@{
    ViewBag.Title = "privatized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="contentPart">
    <div id="threeBoxes" class="newBackground">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10 col-xs-12 col-lg-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <h2 class="red-bg" style="color:#000;">Video Search</h2>
                    <div class="videoSearchFieldContainer">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter a few letters, or the full name of your horse">
                            <input type="button" class="goBtn" value="go">
                            <div class="clr"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="showinformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="showDetailsContainer">
                    <p>
                        ShowNet has been asked by many clients to remove certain videos from our system. We view our system, and video library as a resource to the community for all our members. We do understand the issue that some members may have in regard to video removal, so we believe we have a compromise solution to this issue.
                    </p>

                    <p>
                        A ShowNet member may now set their video to "Private" within the ShowNet system. What this does is, block access to a video that is "set to private" outside the account user, to the public audience. When a video is set to private, there will be a message when others try to access this video, that video does in fact exist but has been "set to private, please contact the owner to view this video."
                    </p>

                    <p>
                        There will be an additional charge of $13.50 to the member who sets their video to private, as the video is no longer for sale on the ShowNet system. You may set a video to private at the point of purchase, or for videos you have in library you may set to private from this area also.
                    </p>

                    <p>
                        Go to <a href="@Url.Action("Default", "ShowNet")">My ShowNet - My Video Library</a> - click on horse name - click on "Private" button for class you want to set to private. You be charged $13.50 for this function." Or, when purchasing a video, you may immediately select "Set Private" when purchasing your video.
                    </p>

                    
                    <input type="button" class="loginbtn" value="Go Back" onclick="location.href='@Url.Action("Default", "ShowNet")'" />
                </div>
            </div>
        </div>
      </div>
     </div>

